# STM32 Minimum Development Board Configuration

# Copyright (c) 2017, embedjournal.com
# SPDX-License-Identifier: Apache-2.0

config BOARD_RFF_LIGHT_ALARM_V0
	bool "RFF: board (v0) for light alarm"
	depends on SOC_STM32F103X8

